<div class="generos-mais-ouvidos">
  <div class="generos-mais-ouvidos-header">
    <h1>Gêneros musicais mais ouvidos no Brasil</h1>
  </div>

  <div class="generos-mais-ouvidos-graficos">

    <div class="generos-mais-ouvidos-graficos-grafico-de-rosca">
      <figure class="highcharts-figure">
        <div id="graficoDeRosca"></div>
      </figure>
    </div>

    <div class="generos-mais-ouvidos-graficos-grafico-de-barras">
      <figure class="highcharts-figure">
        <div id="graficoDeBarras"></div>
      </figure>
    </div>

  </div>

  <div class="generos-mais-ouvidos-informativo">
    <p>
      Gráfico baseado em dados do
      <span
        ><a
          href="https://blog.easylive.com.br/tipos-de-musicas-os-generos-mais-populares/"
          >blog.easylive.com</a
        ></span
      >.
    </p>
  </div>
</div>
